
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  min-height: 100%;
  gap: 5px;
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-auto-rows: 7px;
  grid-gap: 20rem 17rem;
  padding: 2rem 2rem 2rem 2rem;
}


.produto img{
 height:200px ;
}


.produto {
  /* border: 5px red solid; */
  width: 22rem;
  height: 20rem;
  background-color: rgb(217, 216, 216);

}
